*.DS_STORE
*.iml
.idea/
out/

.settings/
*.iml
*.iws

META-INF/
#exclipse shit
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
artifacts/
